@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --border-default: #e5e7eb; /* gray-200 */
  color-scheme: light;
}

.dark {
  --foreground-rgb: 237, 233, 225;
  --background-rgb: 17, 24, 39; /* gray-900 */
  --border-default: #374151; /* gray-700 */
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
